.is-kz{
  width: 100%;
  display: block;
  margin-top: 3px;
}
.is-delete{
  margin-top: -1.5em;
  margin-bottom: 5px;
}
.title{
  display: inline;
  color: white;
  font-family: 'Paytone One', sans-serif;
}
.infoText{
  margin-top: 1em;
  color: white;
  font-family: 'Paytone One', sans-serif;
  font-size: 20px
}
